@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3 style="padding-bottom: 15px;">@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating" style="padding:5px;">
                <label asp-for="Username" class="form-label"></label>
                <input asp-for="Username" class="form-control" disabled  style="margin-left: 36px;width: 242px;padding-left: 6px;background-color: transparent;color: white;"/>
                
            </div>
            <div class="form-floating" style="padding:5px;">
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <input type="number" asp-for="Input.PhoneNumber" class="form-control" style="margin-left: 8px;width: 239px;padding-left: 6px;background-color: #ffffffe8;color: black;" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
