@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
 <!------------ start about-us ---------------->
         <link href="~/AppStyles/CSS/about_us.css" rel="stylesheet">
         <div class="about-us">
            <div class="container">
                <div class="box1">
                    <div class="image"><img src="~/AppStyles/image/1.jfif"></div>
                    <div class="box2">
                        <p>
                        our project focuses on developing a technique that can generate accurate and concise summaries
                        for arabic and english books,we understand that reading lengthy books can be a daunting task for many people,
                        which is why we we aim to provide a solution that allows readers to quickly and easily understand the main points of a book
                        without having to read it in its entirely.by leveraging the latest advancements in natural language processing and deep learning,we are confident that our model will provide valuable benefits to both readers and authors alike.
                        our team consists of five highly skilled members who are currently studing at the computer and artifical intelligence department at helwan university.
                       each member brings a unique set of skills and expertise to the project,including natural language processing,deep learning ,
                        and software development.we are all passionate about using technology to solve real-world problems,
                        </p>
                    </div>
                </div>
                <div class="box3">
                    <p>
                    
                     we believe that our project has the potential to make a significant impact in the world of literature and education.
                    together,we are committed and diligently to achieve our goals and deliver a successful project.
                    during our research,we discovered that there is a lack of free and effective tools that can automatically generate accurate summaries for books,
                    especially in both arabic and english languages. this presents a major challenge for readers who are looking for quick and easy ways to understand the main points of a book
                    without having to read the entire book.as a team of computer science and artifical intelligence students,
                    we saw this as an opportunity to leverage our skills and expertise to develop a solution that can address this problem.
                   </p>
                </div>
             
            </div>
         </div>
        <!------------ end about-us ------------------>
