/*start global style*/
:root{
    --main-color:rgb(0,195,154);
    /* --black-color:rgb(18,20,24); */
    --black-color:black;
    --gray-color:rgb(165,167,171);
    --yellow-color:rgb(229,205,113);
}

*{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
    list-style: none;
    text-decoration: none;
    transition:0.1s;
    font-family: 'Roboto Condensed', sans-serif;
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 10px;
    background-color:transparent;

}
::-webkit-scrollbar-thumb {
    background-color:var(--main-color);
    border-radius: 10px;
}

body{
    color:white;
    overflow-x:hidden;
    background-color:var(--black-color);
}
a{
    text-decoration: none;
    display:block;
}
ul li{
    list-style:none;
}
button{
    border: transparent;
    outline: none;
}
/*end global style*/

/************** start responsive website ***************/
.container{
    padding-left:15px;
    padding-right:15px;
    margin-left:auto;
    margin-right:auto;
}
/********* small **********/
@media(min-width:768px){
      .container{
        width:750px;
      }
}
/********** medium *********/
@media(min-width:991px){
    .container{
      width:970px;
    }
}
/********** large *********/
@media(min-width:1200px){
    .container{
        width:1170px;
    }
}
/************** end responsive website *****************/
main{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
}
/********** start header *******/
header{
    height: 80px;
}
header h3{
    font-size:20px;
    color:var(--main-color);
}
header h3 span{
    color:var(--yellow-color);
}
header .container,ul,.Sigin{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}
header .container{
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
header a{
    margin-right: 20px;
    color:white;
    padding-bottom: 10px;
    border-bottom: 1px solid transparent;
}
header a:hover{
   border-bottom: 1px solid var(--main-color);
   color:var(--main-color);
}
header .logo a:hover{
    border-color: transparent;
}
header .icon div{
    width:40px;
    background-color:var(--main-color);
    height:2px;
    margin-bottom:8px;
}
header .icon{
    display: none;
}
@media(max-width:767px){
  header .icon{
    display:block;
  }
  header ul,.Sigin{
    flex-direction: column;
  }
  header ul{
    position: absolute;
    top:100%;
    background-color:var(--main-color);
    width:100%;
    overflow: hidden;
    padding:20px 0px;
  }
  header li{
    padding:10px;
  }
  header a:hover{
    border-bottom: 1px solid white;
    color:white;
 }

}

/********** end header *********/

/************ start summarize_ara_book  ***********/
.table h1 span{
    color:var(--main-color);
}
.container h1{
    text-align: center;
    margin:10px 0px 15px 0px;
}
table{
    width:100%;
    height:100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
thead tr{
    padding:20px;
}
table td{
    padding:10px;
}
table tr,
table td,
table th{
    border:1px solid var(--main-color);
}
table thead{
    background-color: var(--main-color);
}
table thead th{
    padding:20px;
    font-size: 25px;
}
/************ end summarize_ara_book  ************/


/*********** start footer ************/
footer{
    height:80px;
    color:var(--gray-color);
}
footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
footer .icons i{
    color:white;
    background-color:var(--main-color);
    width:30px;
    height:30px;
    text-align: center;
    line-height: 30px;
    margin-right:5px;
    border-radius: 50%;
}
footer .icons i:hover{
    color:var(--main-color);
    background-color:white;
}
footer p:hover{
    color:var(--main-color);
}
/*********** end footer **************/
@media(max-width:767px){
    header .icon{
        display:block;
      }
      header ul,.Sigin{
        flex-direction: column;
      }
      header ul{
        position: absolute;
        top:100%;
        background-color:var(--main-color);
        width:100%;
        overflow: hidden;
        padding:20px 0px;
        z-index: 1000;
      }
      header li{
        padding:10px;
      }
      header a:hover{
        border-bottom: 1px solid white;
        color:white;
     }
     .display{
        display:none;
     }
    
    .about-us .container .box1{
        flex-direction: column;
    }
    footer .container{
        flex-direction: column;
        text-align: center;
      }
      footer .icons{
        margin-bottom:20px;
      }
     
}